<footer class="footer auth-footer">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://xavadigital.com"> Xava Digital </a>
        </li>
        <li>
          <a href="https://xavadigital.com/about/"> About Us </a>
        </li>
        <li>
          <a href="https://xavadigital.com/services/"> Services </a>
        </li>
        <li>
          <a href="https://xavadigital.com/projects/"> Projects </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{ test | date: "yyyy" }}, Copyright
      <a href="https://xavadigital.com" target="_blank">Xava Digital</a>. All
      rights reserved.
    </div>
  </div>
</footer>
